.content {
    max-width: 46rem;
    width: 100%;
    margin: 0 auto;
}

.newTask {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 0.5rem;
}

.newTask input {
    height: 54px;
    min-width: 638px;
    color: var(--gray-300);
    font-size: 16;
    background-color: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    padding: 1rem;
    margin-right: 0.5rem;
}

.newTask button {
    color: var(--gray-100);
    background-color: var(--blue-dark);

    display: flex;
    align-items: center;

    border: 0;
    height: 54px;
    border-radius: 8px;
    padding: 1rem;
    font-size: 14;
    font-weight: bold;

    cursor: pointer;
}

.newTask input,
.newTask button {
    transform: translateY(-50%);
    margin-bottom: 2.3125rem;
}

.newTask input:focus {
    color: var(--gray-100);
    border: 1px solid var(--purple-dark);
}

.newTask button svg {
    margin-left: 0.5rem;
}

.taskContent {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}